<div class="album py-1">
  <div class="container">
    <app-title [title]="name"></app-title>
    <div class="row">
      <div class="card center-card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4 py-4 pl-4">
            <img [src]="avatar" class="card-img" [alt]="name">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{company}}</h5>
              <a [href]="companyUrl" target="_blank">{{companyUrl}}</a>
              <p class="card-text">{{companyDesc}}</p>
              <p class="card-text"><small class="text-muted">{{email}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
